dynOff-Client/src/wsdl/DynOffWebservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dynoffws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dynoffws/" name="DynOffWebservice">
<types>
<xsd:schema>
<xsd:import namespace="http://dynoffws/" schemaLocation="../jaxws/DynOffWebservice.xsd"/>
</xsd:schema>
</types>
<message name="generateActorFromProps">
<part name="parameters" element="tns:generateActorFromProps"/>
</message>
<message name="generateActorFromPropsResponse">
<part name="parameters" element="tns:generateActorFromPropsResponse"/>
</message>
<message name="ServerFault">
<part name="fault" element="tns:serverFault"/>
</message>
<message name="sendMessage">
<part name="parameters" element="tns:sendMessage"/>
</message>
<message name="sendMessageResponse">
<part name="parameters" element="tns:sendMessageResponse"/>
</message>
<message name="dispatchAsyncJob">
<part name="parameters" element="tns:dispatchAsyncJob"/>
</message>
<message name="dispatchAsyncJobResponse">
<part name="parameters" element="tns:dispatchAsyncJobResponse"/>
</message>
<message name="getAsyncJobresult">
<part name="parameters" element="tns:getAsyncJobresult"/>
</message>
<message name="getAsyncJobresultResponse">
<part name="parameters" element="tns:getAsyncJobresultResponse"/>
</message>
<message name="getPreAvailableProps">
<part name="parameters" element="tns:getPreAvailableProps"/>
</message>
<message name="getPreAvailablePropsResponse">
<part name="parameters" element="tns:getPreAvailablePropsResponse"/>
</message>
<message name="generatePreAvailableActor">
<part name="parameters" element="tns:generatePreAvailableActor"/>
</message>
<message name="generatePreAvailableActorResponse">
<part name="parameters" element="tns:generatePreAvailableActorResponse"/>
</message>
<portType name="DynOffWS">
<operation name="generateActorFromProps">
<input wsam:Action="http://dynoffws/DynOffWS/generateActorFromPropsRequest" message="tns:generateActorFromProps"/>
<output wsam:Action="http://dynoffws/DynOffWS/generateActorFromPropsResponse" message="tns:generateActorFromPropsResponse"/>
<fault message="tns:ServerFault" name="ServerFault" wsam:Action="http://dynoffws/DynOffWS/generateActorFromProps/Fault/ServerFault"/>
</operation>
<operation name="sendMessage">
<input wsam:Action="http://dynoffws/DynOffWS/sendMessageRequest" message="tns:sendMessage"/>
<output wsam:Action="http://dynoffws/DynOffWS/sendMessageResponse" message="tns:sendMessageResponse"/>
<fault message="tns:ServerFault" name="ServerFault" wsam:Action="http://dynoffws/DynOffWS/sendMessage/Fault/ServerFault"/>
</operation>
<operation name="dispatchAsyncJob">
<input wsam:Action="http://dynoffws/DynOffWS/dispatchAsyncJobRequest" message="tns:dispatchAsyncJob"/>
<output wsam:Action="http://dynoffws/DynOffWS/dispatchAsyncJobResponse" message="tns:dispatchAsyncJobResponse"/>
<fault message="tns:ServerFault" name="ServerFault" wsam:Action="http://dynoffws/DynOffWS/dispatchAsyncJob/Fault/ServerFault"/>
</operation>
<operation name="getAsyncJobresult">
<input wsam:Action="http://dynoffws/DynOffWS/getAsyncJobresultRequest" message="tns:getAsyncJobresult"/>
<output wsam:Action="http://dynoffws/DynOffWS/getAsyncJobresultResponse" message="tns:getAsyncJobresultResponse"/>
<fault message="tns:ServerFault" name="ServerFault" wsam:Action="http://dynoffws/DynOffWS/getAsyncJobresult/Fault/ServerFault"/>
</operation>
<operation name="getPreAvailableProps">
<input wsam:Action="http://dynoffws/DynOffWS/getPreAvailablePropsRequest" message="tns:getPreAvailableProps"/>
<output wsam:Action="http://dynoffws/DynOffWS/getPreAvailablePropsResponse" message="tns:getPreAvailablePropsResponse"/>
</operation>
<operation name="generatePreAvailableActor">
<input wsam:Action="http://dynoffws/DynOffWS/generatePreAvailableActorRequest" message="tns:generatePreAvailableActor"/>
<output wsam:Action="http://dynoffws/DynOffWS/generatePreAvailableActorResponse" message="tns:generatePreAvailableActorResponse"/>
<fault message="tns:ServerFault" name="ServerFault" wsam:Action="http://dynoffws/DynOffWS/generatePreAvailableActor/Fault/ServerFault"/>
</operation>
</portType>
<binding name="DynOffWSPortBinding" type="tns:DynOffWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="generateActorFromProps">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServerFault">
<soap:fault name="ServerFault" use="literal"/>
</fault>
</operation>
<operation name="sendMessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServerFault">
<soap:fault name="ServerFault" use="literal"/>
</fault>
</operation>
<operation name="dispatchAsyncJob">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServerFault">
<soap:fault name="ServerFault" use="literal"/>
</fault>
</operation>
<operation name="getAsyncJobresult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServerFault">
<soap:fault name="ServerFault" use="literal"/>
</fault>
</operation>
<operation name="getPreAvailableProps">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generatePreAvailableActor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServerFault">
<soap:fault name="ServerFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="DynOffWebservice">
<port name="DynOffWSPort" binding="tns:DynOffWSPortBinding">
<soap:address location="http://localhost:8080/dynOff/DynOffWebservice"/>
</port>
</service>
</definitions>